.presentation {
    padding: 2rem 1rem;
    padding-top:6rem;
    text-align: center;
    background-color: $presentation-bg;
    color: $presentation-text-color;

    @include media-breakpoint-up(sm) {
        padding: 4rem 2rem;
        padding-top:8rem;
    }
   
    h1 {
        color: $presentation-text-color;
    }
    h2 {
        color: $presentation-text-color;
        text-transform: none;
    }

    .photo-cv{
        border: 5px solid $presentation-text-color;
        max-width: 256px;
        //filter:grayscale(100%);
        margin-bottom: 1.5rem;
    }
    

}